.logo-img {
  height: 50px;
  width: auto;
  border: 1px solid white;
  background-color: white;
}

// .remove-hoaver-effect:hover {
//   border-bottom: 2px solid transparent !important;
//   color: red;
// }
// .remove-ant-menu-item:hover {
//   background-color: inherit !important;
// }
